# Ignore all target and debug folders in any sub-project
**/target/
**/debug/

# Backup files by rustfmt
**/*.rs.bk

# Windows/MSVC debug files
*.pdb

# VSCode config
.vscode/

# Optional: mutation testing output
**/mutants.out*/
